/*general*/
* {
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: url('imgbg.jpg') no-repeat;
  background-size: cover;
}

input[type='number'] {
  width: 100px;
  height: 40px;
}

.obtaintks, .ETH, .become_prod{
  display: block;
  margin: 20px 0;
}

li {
  float: left;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/*general*/




/*grid*/
.maingrid {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 100px;
}

.user {
  /*height: 80%;
  grid-template-rows: 40%;
  overflow: hidden;
  background-color: rgb(30, 163, 7);*/
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 1;
}

/*.user a{
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}*/

.button {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 5;
}

.graph {
  display: flex;
  flex-wrap: wrap;
  /*elementi flwxbox possono andare su più righe*/
  max-width: 1200px; /*largezza fissa*/
  /*margin: 0 auto;*/
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 5;
}

.col50{
  width: 50%;
  /*border: 1px solid red;*/
  padding: 2%;
}
/*grid*/




/*navbar*/
.navbar {
  list-style-type: none;
  background-color: #333b41;
  z-index: 1;
}

.ull{
  list-style-type: none;
  padding: 0%;
  background-color: #333b41;
  z-index: 1;
}

.l2{
  padding: 1%;
  display: flex;
}

.dropdown {
  float: right;
}

.l1 a, .dropbtn, .l2 {
  display: inline-block;
  color: rgb(17, 17, 17);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.4s;
}

.dropbtn{
  width: 150px;
  border-radius: 3%;
  background-color: white;
  color: black;
  /*cursor: not-allowed;*/
}

.dropbtn:hover{
  display: block;
  background-color: #333b41;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100000;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 100000;
}

.l1 a:hover {
  background-color:#333b41;
  color: white;
}

.dropdown-content button {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  z-index: 100000;
}

.login{
  background-color: #00ff3cc9;
  width: 65px;
  border-radius: 6%;
}

.logout{
  background-color: #ff2f00f4;
  width: 80px;
  border-radius: 6%;
}
/*navbar*/




/*login form*/
.loginform {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* form Content/Box */
.formcontent {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover, .close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.loginbutton, .cancelbutton{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.loginbutton:hover, .cancelbutton:hover{
  opacity: 0.8;
}


/* Extra styles for the cancel button */
.cancelbutton {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.img {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.cform {
  padding: 16px;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
/*login form*/




/*buttons*/
.ETH button, .obtaintks button, .become_prod button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: solid;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(239, 235, 235);
  color: black;
  border: 2px solid #555555;
  border-radius: 2px;
  width: 50%;
  font-size: 100%;
}

.become_prod button{
  padding: 10px 10px;
  display: center;
  width: 70%;
}

.ETH button:hover, .obtaintks button:hover, .become_prod button:hover{
  background-color: #555555;
  color: white;
  border: 2px solid black;
}

.become_prod button:focus{
  background-color: #555555;
  color: white;
  cursor: not-allowed;
}

.openbuy{
  text-align: center;
  background-color: blue;
  color: white;
  padding: 15px 15px;
  border: black;
  cursor: pointer;
  opacity: 0.8;
  float: left;
  width: 90px;
  position: relative;
  border-radius: 12px;
  margin: 4px 2px;
  border: 1px solid black;
}

.opensell{
  text-align: center;
  background-color: green;
  color: white;
  padding: 15px 15px;
  border: black;
  cursor: pointer;
  opacity: 0.8;
  float: left;
  width: 90px;
  position: relative;
  border-radius: 12px;
  margin: 4px 2px;
  border: 1px solid black;
}
/*buttons*/




/*popup menu*/

/*popup sotto il bottone
.popupselling{
  display: none;
  bottom: calc(100% +10px);
  left: 0;
  border: 3px solid #f1f1f1;
  z-index: 9;
  position: absolute;
}*/

/*popup al centro in alto come i normali popup
.popupselling{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}*/

.popupselling{ 
  /*popup al centro
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;*/

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
  display: none;
}

.popupbuying{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
  display: none;
}

.container{
  width: 0px;
  padding: 2px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container input[type=number]{
  width: 30%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.container input[type=number]:focus{
  background-color: #ddd;
  outline: none;
}

.container label{
  vertical-align: top;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.container .sell{
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-bottom:10px;
  opacity: 0.8;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: center;
  justify-content: space-between;
}

.container .cancel{
  background-color: red;
  width: 30%;
  padding: 16px 20px;
  border: none;  
  cursor: pointer;
  opacity: 0.8;
  margin-bottom:10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: center;
  justify-content: space-between;
}

.container .sell:hover, .openbtn:hover, .cancel:hover{
  opacity: 1;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/*.container > form > label,
.container > form > input {
  grid-column: 1;
}

.container > form > button {
  grid-column: 1;
  grid-row: 2;
}*/

/*popup menu*/




/*graph*/
.selling{
  display: block;
}

.buying{
  display: block;
  /*max-width: 300px;*/
}
/*graph*/









